.container {
    width: 100%;
    height: 100%;
    margin: 5px auto;
    padding: 30px;
    background: #f1efec;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgb(0,0,0/0.1);
}

form {
    padding: 20px;
    max-width: 1000px;
    margin: 5px auto;
}
form label {
    display:block;
    margin-bottom: 10px;
    font-weight: bold;
}
form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
form button {
    padding: 10px 20px;
    background: #ec0e0efe;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease-in-out;
}
form button:hover {
    background: #f92828da;
}

#photo {
    display: none;
}
.upload-wrapper {
    text-align: center;
    margin-top: 15px;
    padding: 20px;
    border: 2px #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    transform: all 0.3s ease;
}
.upload-wrapper:hover {
    background-color: #eef6ff;
    border-color: #002955e8;
}

/*custom upload button*/
.upload-label {
    display: inline-block;
    padding: 10px 25px;
    background-color: #002955e8;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}
.upload-label:hover {
    background-color: #0056b3;
}
.file-name{
    margin-top: 10px;
    color: #333;
    font-size: 13px;
    font-style: italic;
}