* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;  
}

body {
    background-color: #d4c9be;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 350px;
    background-color: #f1efec;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-toggle button {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #eee;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s;
}

.form-toggle button.active {
    background-color: #4A90E2;
    color: white;
}

.form {
    display: none;
    flex-direction: column;
}

.form.active-form {
    display: flex;
}
 
.form h2 {
    margin-bottom: 15px;
    color: #333;
}

.form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form button {
    padding: 10px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #357ABD;
}