
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", Verdana, Geneva, Tahoma, sans-serif;
}

body{
    min-height: 100vh;
    background: #d4c9be;
    color: #030303;
    display: grid;
    grid-template-columns: auto;
}

main {
    padding: 30px;
    margin-left: 240px;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 240px;
    background: #123458;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-header img {
    width: 120px;
    border-radius: 100%;
}
.sider-header{
    display: flex;
    justify-content: center;
}
.sidebar svg {
    fill: #f1efec;
}

ul li a {
    display: flex;
    align-items: center;
    gap: 0 10px;
    color: #f1efec;
    font-weight: 700;
    padding: 15px 5px;
    white-space: nowrap;
    text-decoration: none;
}
ul {
    list-style: none;
    margin-top: 0px;
}

ul li a:hover, .sidebar-footer a:hover {
    background: #eaefef;
    color: #242530;
    border-radius: 20px;
}

ul li a:hover svg,
.sidebar-footer a:hover svg {
    fill: #242530;
    transition: fill 0.2s;
}

.sidebar-footer {
    margin-top: auto;
    padding-top: 15px;
}
.sidebar-footer a{
    display: flex;
    align-items: center;
    color: #eaefef;
    font-weight: 800;
    font-size: larger;
    padding: 15px 5px;
    white-space: nowrap;
    text-decoration: none;
    gap: 0 20px;
}
.sidebar-footer svg{
    width: 30px;
    height: 30px;
    margin-right: 0px;
    vertical-align: middle;
}